<ul>
	<li><%= link_to "Index", {:controller => "demo", :action => "index"} %></li>
    <li><%= link_to "Subjects", {:controller => "subjects", :action => "index"} %></li>
    <li><%= link_to "Pages", {:controller => "pages", :action => "index"} %></li>
    <li><%= link_to "Sections", {:controller => "sections", :action => "index"} %></li>
</ul>
<div id="demo"></div>
<script>
getLocation();

var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
}
</script>