<html>
<body>
<head>
<title>Other Page</title>
</head>
<h1>Demo#other_page</h1>
<p>Testing Pages</p>

<h1><%= params[:page] %></h1>
<h2><%= params[:name] %></h2>

<%= params.inspect %>

</body>
</html>


