<h1>Sections#new</h1>

<%= form_for(@section, url: {action: "create"}) do |sec| %>

	<%= render(:partial => "form", :locals => {:sec => sec})%>

	<div><%= submit_tag('Create Section') %></div>

<% end %>
