<h1>Pages#new</h1>
<p>Find me in app/views/pages/new.html.erb</p>

<%= form_for(@page, url: {action: "create"}) do |p| %>
  <%= p.text_field :name %>
  <%= p.check_box :visible %>
  <%= p.submit "Create" %>
<% end %>

