<h1>Subjects#new</h1>

<%= form_for(:subject, :url =>{:action => "create"}, html: { multipart: true }) do |f| %>

<%= render(:partial => 'form', :locals => {:a => f}) %>

<div><%= submit_tag('Create Subject') %></div>

<% end %>

<br />

<%= link_to({:action => "index"},  class: "btn_link") do %><button>Back</button><% end %>

