<!DOCTYPE html>
<html lang="en">
<head>
<title>SimpleCms</title>
<!-- JQUERY -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= stylesheet_link_tag "styles.css" %>
</head>

<body>

<div class="container">

<%= yield %>

</div>

<% if !flash[:notice].blank? %>
    <script type="text/javascript">alert("<%= flash[:notice] %>");</script>
<% end %>

<%= javascript_include_tag "script.js" %>
</body>
</html>